[submodule "assignments/unit02-assignment/python-homework"]
	path = assignments/unit02-assignment/python-homework
	url = git@github.com:juil/python-homework.git
[submodule "assignments/unit06-assignment/rentalanalysis"]
	path = assignments/unit06-assignment/rentalanalysis
	url = git@github.com:juil/rentalanalysis
[submodule "projects/project01/fintech-project01"]
	path = projects/project01/canhomeowner
	url = git@github.com:juil/fintech-project01
[submodule "assignments/unit10-assignment/cryptocluster"]
	path = assignments/unit10-assignment/cryptocluster
	url = git@github.com:juil/cryptocluster.git
[submodule "projects/project02/recommendedMovie/recommended_movie"]
	path = projects/project02/recommendedMovie/recommended_movie
	url = git@github.com:benisde/recommended_movie.git
[submodule "assignments/unit18-assignment/PychainLedger"]
	path = assignments/unit18-assignment/PychainLedger
	url = git@github.com:juil/PychainLedger.git
[submodule "assignments/unit19-assignment/KryptoWallet"]
	path = assignments/unit19-assignment/KryptoJobs
	url = git@github.com:juil/KryptoWallet.git
[submodule "assignments/unit20-assignment/JointSavings"]
	path = assignments/unit20-assignment/JointSavings
	url = git@github.com:juil/JointSavings.git
[submodule "assignments/unit21-assignment/KaseiCoin"]
	path = assignments/unit21-assignment/KaseiCoin
	url = git@github.com:juil/KaseiCoin.git
