[submodule "assignments/unit02-assignment/python-homework"]
	path = assignments/unit02-assignment/python-homework
	url = git@github.com:juil/python-homework.git
[submodule "assignments/unit06-assignment/rentalanalysis"]
	path = assignments/unit06-assignment/rentalanalysis
	url = git@github.com:juil/rentalanalysis
[submodule "projects/project01/fintech-project01"]
	path = projects/project01/canhomeowner
	url = git@github.com:juil/fintech-project01
[submodule "assignments/unit10-assignment/cryptocluster"]
	path = assignments/unit10-assignment/cryptocluster
	url = git@github.com:juil/cryptocluster.git
[submodule "projects/project02/recommendedMovie/recommended_movie"]
	path = projects/project02/recommendedMovie/recommended_movie
	url = git@github.com:benisde/recommended_movie.git
